USE [master]
GO
/****** Object:  Database [EmployeePortal]    Script Date: 17/09/2026 01:20:29 ص ******/
CREATE DATABASE [EmployeePortal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeePortal', FILENAME = N'E:\SQL\Data\EmployeePortal.mdf' , SIZE = 1122304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeePortal_log', FILENAME = N'E:\SQL\Log\EmployeePortal_log.ldf' , SIZE = 3153920KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeePortal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeePortal]
GO
/****** Object:  Table [dbo].[code_sarf_regions]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[code_sarf_regions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[region_code] [varchar](30) NOT NULL,
	[region_name] [nvarchar](100) NOT NULL,
	[display_order] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[region_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[code_sarf_region_rules]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[code_sarf_region_rules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[region_id] [int] NULL,
	[code_from] [int] NOT NULL,
	[code_to] [int] NOT NULL,
	[rule_type] [varchar](20) NOT NULL,
	[special_status] [nvarchar](100) NULL,
	[priority] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_code] [nvarchar](20) NOT NULL,
	[full_name] [nvarchar](200) NOT NULL,
	[national_id] [nvarchar](14) NULL,
	[phone] [nvarchar](20) NULL,
	[hire_date] [date] NULL,
	[department_id] [int] NULL,
	[job_title] [nvarchar](150) NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[insurance_number] [nvarchar](30) NULL,
	[code_sarf] [nvarchar](20) NULL,
	[email] [nvarchar](150) NULL,
	[bank_employee_code] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[employee_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_employee_code_sarf_region]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_employee_code_sarf_region]
AS

SELECT
    e.id AS employee_id,
    e.employee_code,
    e.full_name,
    e.bank_employee_code,

    TRY_CONVERT(INT, e.code_sarf) AS code_sarf,

    CASE
        WHEN TRY_CONVERT(INT, e.code_sarf) IS NULL
             OR TRY_CONVERT(INT, e.code_sarf) = 0
        THEN N'غير محدد'

        WHEN x.rule_type = 'STATUS'
        THEN N'حالة خاصة'

        WHEN x.region_name IS NOT NULL
        THEN x.region_name

        ELSE N'غير مصنف'
    END AS region_name,

    x.special_status,

    CASE
        WHEN TRY_CONVERT(INT, e.code_sarf) IS NULL
             OR TRY_CONVERT(INT, e.code_sarf) = 0
        THEN 'UNDEFINED'

        WHEN x.rule_type = 'STATUS'
        THEN 'SPECIAL_STATUS'

        WHEN x.region_name IS NULL
        THEN 'UNMAPPED'

        ELSE 'REGION'
    END AS classification_type

FROM dbo.employees e

OUTER APPLY
(
    SELECT TOP (1)
        r.rule_type,
        r.special_status,
        g.region_name

    FROM dbo.code_sarf_region_rules r

    LEFT JOIN dbo.code_sarf_regions g
        ON g.id = r.region_id

    WHERE
        r.is_active = 1

        AND TRY_CONVERT(INT, e.code_sarf)
            BETWEEN r.code_from AND r.code_to

    ORDER BY
        r.priority DESC,
        r.id ASC
) x;
GO
/****** Object:  Table [dbo].[announcement_likes]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[announcement_likes](
	[employee_id] [int] NOT NULL,
	[announcement_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC,
	[announcement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[announcement_reads]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[announcement_reads](
	[employee_id] [int] NOT NULL,
	[announcement_id] [int] NOT NULL,
	[read_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC,
	[announcement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[announcements]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[announcements](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[body] [nvarchar](max) NULL,
	[file_name] [nvarchar](255) NULL,
	[original_name] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[target_employee_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[audit_log]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[admin_id] [int] NOT NULL,
	[action_type] [nvarchar](50) NOT NULL,
	[target_employee_id] [int] NULL,
	[details] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_bank_responses]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_bank_responses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[response_status] [varchar](20) NOT NULL,
	[rejection_reason] [nvarchar](1000) NULL,
	[recorded_by_user_id] [int] NOT NULL,
	[recorded_by_name] [nvarchar](200) NOT NULL,
	[responded_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_deliveries]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_deliveries](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[receiver_type] [varchar](20) NOT NULL,
	[receiver_employee_id] [int] NULL,
	[receiver_employee_code] [nvarchar](20) NULL,
	[receiver_name] [nvarchar](200) NULL,
	[recorded_by_user_id] [int] NOT NULL,
	[recorded_by_name] [nvarchar](200) NOT NULL,
	[delivered_at] [datetime2](7) NOT NULL,
	[notes] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_request_history]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_request_history](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[old_status] [varchar](50) NULL,
	[new_status] [varchar](50) NOT NULL,
	[action_code] [varchar](50) NOT NULL,
	[action_name] [nvarchar](200) NOT NULL,
	[actor_user_id] [int] NULL,
	[actor_name] [nvarchar](200) NULL,
	[notes] [nvarchar](1000) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_request_private_data]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_request_private_data](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[address_text] [nvarchar](500) NOT NULL,
	[phone] [varchar](11) NOT NULL,
	[national_id] [varchar](14) NOT NULL,
	[id_front_file] [nvarchar](260) NOT NULL,
	[id_back_file] [nvarchar](260) NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_card_request_private_data] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_card_request_private_data_request] UNIQUE NONCLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_request_reasons]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_request_reasons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_type_id] [int] NOT NULL,
	[reason_code] [varchar](50) NOT NULL,
	[reason_name] [nvarchar](150) NOT NULL,
	[is_active] [bit] NOT NULL,
	[display_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_card_request_reason] UNIQUE NONCLUSTERED 
(
	[service_type_id] ASC,
	[reason_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_request_statuses]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_request_statuses](
	[status_code] [varchar](50) NOT NULL,
	[status_name] [nvarchar](150) NOT NULL,
	[display_order] [int] NOT NULL,
	[is_final] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[status_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_requests]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_requests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[service_type_id] [int] NOT NULL,
	[reason_id] [int] NULL,
	[status] [varchar](50) NOT NULL,
	[employee_code_snapshot] [nvarchar](20) NOT NULL,
	[employee_name_snapshot] [nvarchar](200) NOT NULL,
	[bank_code_snapshot] [nvarchar](20) NULL,
	[code_sarf_snapshot] [int] NULL,
	[region_snapshot] [nvarchar](100) NULL,
	[submitted_at] [datetime2](7) NOT NULL,
	[completed_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_roles]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_roles](
	[role_code] [varchar](30) NOT NULL,
	[role_name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_service_types]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_service_types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_code] [varchar](50) NOT NULL,
	[service_name] [nvarchar](150) NOT NULL,
	[requires_card] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[display_order] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[service_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_status_transitions]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_status_transitions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_path] [varchar](20) NOT NULL,
	[from_status] [varchar](50) NOT NULL,
	[to_status] [varchar](50) NOT NULL,
	[action_code] [varchar](50) NOT NULL,
	[action_name] [nvarchar](150) NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_card_transition] UNIQUE NONCLUSTERED 
(
	[service_path] ASC,
	[from_status] ASC,
	[to_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_user_roles]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_user_roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[role_code] [varchar](30) NOT NULL,
	[assigned_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_card_user_role] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[role_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[code_sarf_sync_state]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[code_sarf_sync_state](
	[id] [int] NOT NULL,
	[last_restore_date] [datetime] NULL,
	[last_sync_date] [datetime2](7) NULL,
 CONSTRAINT [PK_code_sarf_sync_state] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_code_sarf_history]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_code_sarf_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[old_code_sarf] [int] NULL,
	[new_code_sarf] [int] NOT NULL,
	[effective_date] [date] NOT NULL,
	[detected_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login_logs]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[login_time] [datetime2](7) NOT NULL,
	[ip_address] [nvarchar](45) NULL,
	[success] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[message_threads]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[message_threads](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_thread_employee] UNIQUE NONCLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messages_to_admin]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages_to_admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[admin_reply] [nvarchar](max) NULL,
	[replied_at] [datetime2](7) NULL,
	[employee_has_seen_reply] [bit] NOT NULL,
	[reply_liked] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[passkey_challenges]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[passkey_challenges](
	[challenge_id] [varchar](64) NOT NULL,
	[user_id] [int] NULL,
	[challenge] [varbinary](256) NOT NULL,
	[purpose] [varchar](20) NOT NULL,
	[rp_id] [nvarchar](255) NOT NULL,
	[origin] [nvarchar](500) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[challenge_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_resets]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_resets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[code] [varchar](10) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[used] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payroll_items]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payroll_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[month] [tinyint] NOT NULL,
	[year] [smallint] NOT NULL,
	[band_code] [int] NOT NULL,
	[band_name] [nvarchar](200) NULL,
	[band_type] [nvarchar](20) NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[sarfia_no] [int] NULL,
	[balance] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payroll_records]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payroll_records](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[month] [tinyint] NOT NULL,
	[year] [smallint] NOT NULL,
	[basic_salary] [decimal](10, 2) NOT NULL,
	[transport_allowance] [decimal](10, 2) NOT NULL,
	[housing_allowance] [decimal](10, 2) NOT NULL,
	[bonus] [decimal](10, 2) NOT NULL,
	[insurance_deduction] [decimal](10, 2) NOT NULL,
	[tax_deduction] [decimal](10, 2) NOT NULL,
	[absence_deduction] [decimal](10, 2) NOT NULL,
	[net_salary]  AS (((([basic_salary]+[transport_allowance])+[housing_allowance])+[bonus])-(([insurance_deduction]+[tax_deduction])+[absence_deduction])) PERSISTED,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_payroll_month] UNIQUE NONCLUSTERED 
(
	[employee_id] ASC,
	[month] ASC,
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payroll_sarfia_names]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payroll_sarfia_names](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sarfia_no] [int] NOT NULL,
	[sarfia_month] [tinyint] NOT NULL,
	[sarfia_year] [smallint] NOT NULL,
	[sarfia_desc_id] [int] NULL,
	[sarfia_name] [nvarchar](250) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_payroll_sarfia_names] UNIQUE NONCLUSTERED 
(
	[sarfia_no] ASC,
	[sarfia_month] ASC,
	[sarfia_year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payroll_staging]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payroll_staging](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_code] [nvarchar](50) NOT NULL,
	[band_code] [int] NULL,
	[band_name] [nvarchar](200) NOT NULL,
	[band_type] [nvarchar](20) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[loaded_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_ratings]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_ratings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[rating] [tinyint] NOT NULL,
	[comment] [nvarchar](1000) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thread_messages]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thread_messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[thread_id] [int] NOT NULL,
	[sender_role] [nvarchar](10) NOT NULL,
	[body] [nvarchar](max) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[read_by_employee] [bit] NOT NULL,
	[read_by_admin] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_passkeys]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_passkeys](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[credential_id] [varbinary](1024) NOT NULL,
	[public_key] [varbinary](max) NOT NULL,
	[sign_count] [bigint] NOT NULL,
	[device_name] [nvarchar](200) NULL,
	[rp_id] [nvarchar](255) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[last_used_at] [datetime2](7) NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[credential_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[is_active] [bit] NOT NULL,
	[last_login] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[must_change_password] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_audit_log_created]    Script Date: 17/09/2026 01:20:31 ص ******/
CREATE NONCLUSTERED INDEX [idx_audit_log_created] ON [dbo].[audit_log]
(
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_card_request_private_data_national_id]    Script Date: 17/09/2026 01:20:31 ص ******/
CREATE NONCLUSTERED INDEX [IX_card_request_private_data_national_id] ON [dbo].[card_request_private_data]
(
	[national_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_code_sarf_history_date_code]    Script Date: 17/09/2026 01:20:31 ص ******/
CREATE NONCLUSTERED INDEX [IX_code_sarf_history_date_code] ON [dbo].[employee_code_sarf_history]
(
	[effective_date] ASC,
	[new_code_sarf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_employees_department]    Script Date: 17/09/2026 01:20:31 ص ******/
CREATE NONCLUSTERED INDEX [idx_employees_department] ON [dbo].[employees]
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_passkey_challenges_expiry]    Script Date: 17/09/2026 01:20:31 ص ******/
CREATE NONCLUSTERED INDEX [IX_passkey_challenges_expiry] ON [dbo].[passkey_challenges]
(
	[expires_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_password_resets_lookup]    Script Date: 17/09/2026 01:20:31 ص ******/
CREATE NONCLUSTERED INDEX [idx_password_resets_lookup] ON [dbo].[password_resets]
(
	[employee_id] ASC,
	[code] ASC,
	[used] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_payroll_items_lookup]    Script Date: 17/09/2026 01:20:31 ص ******/
CREATE NONCLUSTERED INDEX [idx_payroll_items_lookup] ON [dbo].[payroll_items]
(
	[employee_id] ASC,
	[year] ASC,
	[month] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_payroll_lookup]    Script Date: 17/09/2026 01:20:31 ص ******/
CREATE NONCLUSTERED INDEX [idx_payroll_lookup] ON [dbo].[payroll_records]
(
	[employee_id] ASC,
	[year] ASC,
	[month] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_thread_messages_thread]    Script Date: 17/09/2026 01:20:31 ص ******/
CREATE NONCLUSTERED INDEX [IX_thread_messages_thread] ON [dbo].[thread_messages]
(
	[thread_id] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_user_passkeys_user]    Script Date: 17/09/2026 01:20:31 ص ******/
CREATE NONCLUSTERED INDEX [IX_user_passkeys_user] ON [dbo].[user_passkeys]
(
	[user_id] ASC,
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[announcement_likes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[announcement_reads] ADD  DEFAULT (getdate()) FOR [read_at]
GO
ALTER TABLE [dbo].[announcements] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[audit_log] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[card_bank_responses] ADD  DEFAULT (sysdatetime()) FOR [responded_at]
GO
ALTER TABLE [dbo].[card_deliveries] ADD  DEFAULT (sysdatetime()) FOR [delivered_at]
GO
ALTER TABLE [dbo].[card_request_history] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[card_request_private_data] ADD  CONSTRAINT [DF_card_request_private_data_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[card_request_private_data] ADD  CONSTRAINT [DF_card_request_private_data_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[card_request_reasons] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[card_request_reasons] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[card_request_statuses] ADD  DEFAULT ((0)) FOR [is_final]
GO
ALTER TABLE [dbo].[card_request_statuses] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[card_requests] ADD  DEFAULT ('SUBMITTED') FOR [status]
GO
ALTER TABLE [dbo].[card_requests] ADD  DEFAULT (sysdatetime()) FOR [submitted_at]
GO
ALTER TABLE [dbo].[card_requests] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[card_requests] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[card_roles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[card_service_types] ADD  DEFAULT ((1)) FOR [requires_card]
GO
ALTER TABLE [dbo].[card_service_types] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[card_service_types] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[card_service_types] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[card_status_transitions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[card_user_roles] ADD  DEFAULT (sysdatetime()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[code_sarf_region_rules] ADD  DEFAULT ((100)) FOR [priority]
GO
ALTER TABLE [dbo].[code_sarf_region_rules] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[code_sarf_region_rules] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[code_sarf_regions] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[code_sarf_regions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[code_sarf_regions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[employee_code_sarf_history] ADD  DEFAULT (sysdatetime()) FOR [detected_at]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[login_logs] ADD  DEFAULT (getdate()) FOR [login_time]
GO
ALTER TABLE [dbo].[login_logs] ADD  DEFAULT ((1)) FOR [success]
GO
ALTER TABLE [dbo].[message_threads] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[message_threads] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[messages_to_admin] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[messages_to_admin] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[messages_to_admin] ADD  DEFAULT ((0)) FOR [employee_has_seen_reply]
GO
ALTER TABLE [dbo].[messages_to_admin] ADD  DEFAULT ((0)) FOR [reply_liked]
GO
ALTER TABLE [dbo].[passkey_challenges] ADD  CONSTRAINT [DF_passkey_challenges_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[password_resets] ADD  DEFAULT ((0)) FOR [used]
GO
ALTER TABLE [dbo].[password_resets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payroll_items] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payroll_records] ADD  DEFAULT ((0)) FOR [basic_salary]
GO
ALTER TABLE [dbo].[payroll_records] ADD  DEFAULT ((0)) FOR [transport_allowance]
GO
ALTER TABLE [dbo].[payroll_records] ADD  DEFAULT ((0)) FOR [housing_allowance]
GO
ALTER TABLE [dbo].[payroll_records] ADD  DEFAULT ((0)) FOR [bonus]
GO
ALTER TABLE [dbo].[payroll_records] ADD  DEFAULT ((0)) FOR [insurance_deduction]
GO
ALTER TABLE [dbo].[payroll_records] ADD  DEFAULT ((0)) FOR [tax_deduction]
GO
ALTER TABLE [dbo].[payroll_records] ADD  DEFAULT ((0)) FOR [absence_deduction]
GO
ALTER TABLE [dbo].[payroll_records] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payroll_sarfia_names] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[payroll_staging] ADD  DEFAULT (getdate()) FOR [loaded_at]
GO
ALTER TABLE [dbo].[service_ratings] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[thread_messages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[thread_messages] ADD  DEFAULT ((0)) FOR [read_by_employee]
GO
ALTER TABLE [dbo].[thread_messages] ADD  DEFAULT ((0)) FOR [read_by_admin]
GO
ALTER TABLE [dbo].[user_passkeys] ADD  CONSTRAINT [DF_user_passkeys_sign_count]  DEFAULT ((0)) FOR [sign_count]
GO
ALTER TABLE [dbo].[user_passkeys] ADD  CONSTRAINT [DF_user_passkeys_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_passkeys] ADD  CONSTRAINT [DF_user_passkeys_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('employee') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [must_change_password]
GO
ALTER TABLE [dbo].[announcement_likes]  WITH CHECK ADD  CONSTRAINT [fk_announcement_likes_announcement] FOREIGN KEY([announcement_id])
REFERENCES [dbo].[announcements] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[announcement_likes] CHECK CONSTRAINT [fk_announcement_likes_announcement]
GO
ALTER TABLE [dbo].[announcement_likes]  WITH CHECK ADD  CONSTRAINT [fk_announcement_likes_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[announcement_likes] CHECK CONSTRAINT [fk_announcement_likes_employee]
GO
ALTER TABLE [dbo].[announcement_reads]  WITH CHECK ADD  CONSTRAINT [fk_announcement_reads_announcement] FOREIGN KEY([announcement_id])
REFERENCES [dbo].[announcements] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[announcement_reads] CHECK CONSTRAINT [fk_announcement_reads_announcement]
GO
ALTER TABLE [dbo].[announcement_reads]  WITH CHECK ADD  CONSTRAINT [fk_announcement_reads_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[announcement_reads] CHECK CONSTRAINT [fk_announcement_reads_employee]
GO
ALTER TABLE [dbo].[announcements]  WITH CHECK ADD  CONSTRAINT [fk_announcements_target_employee] FOREIGN KEY([target_employee_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[announcements] CHECK CONSTRAINT [fk_announcements_target_employee]
GO
ALTER TABLE [dbo].[audit_log]  WITH CHECK ADD  CONSTRAINT [fk_audit_log_admin] FOREIGN KEY([admin_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[audit_log] CHECK CONSTRAINT [fk_audit_log_admin]
GO
ALTER TABLE [dbo].[audit_log]  WITH CHECK ADD  CONSTRAINT [fk_audit_log_target] FOREIGN KEY([target_employee_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[audit_log] CHECK CONSTRAINT [fk_audit_log_target]
GO
ALTER TABLE [dbo].[card_bank_responses]  WITH CHECK ADD  CONSTRAINT [FK_card_bank_response_request] FOREIGN KEY([request_id])
REFERENCES [dbo].[card_requests] ([id])
GO
ALTER TABLE [dbo].[card_bank_responses] CHECK CONSTRAINT [FK_card_bank_response_request]
GO
ALTER TABLE [dbo].[card_bank_responses]  WITH CHECK ADD  CONSTRAINT [FK_card_bank_response_user] FOREIGN KEY([recorded_by_user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[card_bank_responses] CHECK CONSTRAINT [FK_card_bank_response_user]
GO
ALTER TABLE [dbo].[card_deliveries]  WITH CHECK ADD  CONSTRAINT [FK_card_delivery_receiver] FOREIGN KEY([receiver_employee_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[card_deliveries] CHECK CONSTRAINT [FK_card_delivery_receiver]
GO
ALTER TABLE [dbo].[card_deliveries]  WITH CHECK ADD  CONSTRAINT [FK_card_delivery_request] FOREIGN KEY([request_id])
REFERENCES [dbo].[card_requests] ([id])
GO
ALTER TABLE [dbo].[card_deliveries] CHECK CONSTRAINT [FK_card_delivery_request]
GO
ALTER TABLE [dbo].[card_deliveries]  WITH CHECK ADD  CONSTRAINT [FK_card_delivery_user] FOREIGN KEY([recorded_by_user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[card_deliveries] CHECK CONSTRAINT [FK_card_delivery_user]
GO
ALTER TABLE [dbo].[card_request_history]  WITH CHECK ADD  CONSTRAINT [FK_card_history_request] FOREIGN KEY([request_id])
REFERENCES [dbo].[card_requests] ([id])
GO
ALTER TABLE [dbo].[card_request_history] CHECK CONSTRAINT [FK_card_history_request]
GO
ALTER TABLE [dbo].[card_request_history]  WITH CHECK ADD  CONSTRAINT [FK_card_history_user] FOREIGN KEY([actor_user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[card_request_history] CHECK CONSTRAINT [FK_card_history_user]
GO
ALTER TABLE [dbo].[card_request_private_data]  WITH CHECK ADD  CONSTRAINT [FK_card_request_private_data_request] FOREIGN KEY([request_id])
REFERENCES [dbo].[card_requests] ([id])
GO
ALTER TABLE [dbo].[card_request_private_data] CHECK CONSTRAINT [FK_card_request_private_data_request]
GO
ALTER TABLE [dbo].[card_request_reasons]  WITH CHECK ADD  CONSTRAINT [FK_card_request_reasons_service] FOREIGN KEY([service_type_id])
REFERENCES [dbo].[card_service_types] ([id])
GO
ALTER TABLE [dbo].[card_request_reasons] CHECK CONSTRAINT [FK_card_request_reasons_service]
GO
ALTER TABLE [dbo].[card_requests]  WITH CHECK ADD  CONSTRAINT [FK_card_requests_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[card_requests] CHECK CONSTRAINT [FK_card_requests_employee]
GO
ALTER TABLE [dbo].[card_requests]  WITH CHECK ADD  CONSTRAINT [FK_card_requests_reason] FOREIGN KEY([reason_id])
REFERENCES [dbo].[card_request_reasons] ([id])
GO
ALTER TABLE [dbo].[card_requests] CHECK CONSTRAINT [FK_card_requests_reason]
GO
ALTER TABLE [dbo].[card_requests]  WITH CHECK ADD  CONSTRAINT [FK_card_requests_service] FOREIGN KEY([service_type_id])
REFERENCES [dbo].[card_service_types] ([id])
GO
ALTER TABLE [dbo].[card_requests] CHECK CONSTRAINT [FK_card_requests_service]
GO
ALTER TABLE [dbo].[card_requests]  WITH CHECK ADD  CONSTRAINT [FK_card_requests_status] FOREIGN KEY([status])
REFERENCES [dbo].[card_request_statuses] ([status_code])
GO
ALTER TABLE [dbo].[card_requests] CHECK CONSTRAINT [FK_card_requests_status]
GO
ALTER TABLE [dbo].[card_status_transitions]  WITH CHECK ADD  CONSTRAINT [FK_card_transition_from] FOREIGN KEY([from_status])
REFERENCES [dbo].[card_request_statuses] ([status_code])
GO
ALTER TABLE [dbo].[card_status_transitions] CHECK CONSTRAINT [FK_card_transition_from]
GO
ALTER TABLE [dbo].[card_status_transitions]  WITH CHECK ADD  CONSTRAINT [FK_card_transition_to] FOREIGN KEY([to_status])
REFERENCES [dbo].[card_request_statuses] ([status_code])
GO
ALTER TABLE [dbo].[card_status_transitions] CHECK CONSTRAINT [FK_card_transition_to]
GO
ALTER TABLE [dbo].[card_user_roles]  WITH CHECK ADD  CONSTRAINT [FK_card_user_roles_role] FOREIGN KEY([role_code])
REFERENCES [dbo].[card_roles] ([role_code])
GO
ALTER TABLE [dbo].[card_user_roles] CHECK CONSTRAINT [FK_card_user_roles_role]
GO
ALTER TABLE [dbo].[card_user_roles]  WITH CHECK ADD  CONSTRAINT [FK_card_user_roles_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[card_user_roles] CHECK CONSTRAINT [FK_card_user_roles_user]
GO
ALTER TABLE [dbo].[code_sarf_region_rules]  WITH CHECK ADD  CONSTRAINT [FK_code_sarf_region_rules_region] FOREIGN KEY([region_id])
REFERENCES [dbo].[code_sarf_regions] ([id])
GO
ALTER TABLE [dbo].[code_sarf_region_rules] CHECK CONSTRAINT [FK_code_sarf_region_rules_region]
GO
ALTER TABLE [dbo].[employee_code_sarf_history]  WITH CHECK ADD  CONSTRAINT [FK_code_sarf_history_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[employee_code_sarf_history] CHECK CONSTRAINT [FK_code_sarf_history_employee]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [fk_employees_department] FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [fk_employees_department]
GO
ALTER TABLE [dbo].[login_logs]  WITH CHECK ADD  CONSTRAINT [fk_loginlogs_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[login_logs] CHECK CONSTRAINT [fk_loginlogs_user]
GO
ALTER TABLE [dbo].[message_threads]  WITH CHECK ADD  CONSTRAINT [FK_thread_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[message_threads] CHECK CONSTRAINT [FK_thread_employee]
GO
ALTER TABLE [dbo].[messages_to_admin]  WITH CHECK ADD  CONSTRAINT [fk_messages_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[messages_to_admin] CHECK CONSTRAINT [fk_messages_employee]
GO
ALTER TABLE [dbo].[password_resets]  WITH CHECK ADD  CONSTRAINT [fk_password_resets_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[password_resets] CHECK CONSTRAINT [fk_password_resets_employee]
GO
ALTER TABLE [dbo].[payroll_items]  WITH CHECK ADD  CONSTRAINT [fk_payroll_items_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[payroll_items] CHECK CONSTRAINT [fk_payroll_items_employee]
GO
ALTER TABLE [dbo].[payroll_records]  WITH CHECK ADD  CONSTRAINT [fk_payroll_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[payroll_records] CHECK CONSTRAINT [fk_payroll_employee]
GO
ALTER TABLE [dbo].[service_ratings]  WITH CHECK ADD  CONSTRAINT [fk_service_ratings_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[service_ratings] CHECK CONSTRAINT [fk_service_ratings_employee]
GO
ALTER TABLE [dbo].[thread_messages]  WITH CHECK ADD  CONSTRAINT [FK_msg_thread] FOREIGN KEY([thread_id])
REFERENCES [dbo].[message_threads] ([id])
GO
ALTER TABLE [dbo].[thread_messages] CHECK CONSTRAINT [FK_msg_thread]
GO
ALTER TABLE [dbo].[user_passkeys]  WITH CHECK ADD  CONSTRAINT [FK_user_passkeys_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_passkeys] CHECK CONSTRAINT [FK_user_passkeys_users]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [fk_users_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [fk_users_employee]
GO
ALTER TABLE [dbo].[card_bank_responses]  WITH CHECK ADD  CONSTRAINT [CK_card_bank_response_status] CHECK  (([response_status]='REJECTED' OR [response_status]='ACCEPTED'))
GO
ALTER TABLE [dbo].[card_bank_responses] CHECK CONSTRAINT [CK_card_bank_response_status]
GO
ALTER TABLE [dbo].[card_deliveries]  WITH CHECK ADD  CONSTRAINT [CK_card_delivery_receiver_type] CHECK  (([receiver_type]='OTHER' OR [receiver_type]='SELF'))
GO
ALTER TABLE [dbo].[card_deliveries] CHECK CONSTRAINT [CK_card_delivery_receiver_type]
GO
ALTER TABLE [dbo].[card_request_private_data]  WITH CHECK ADD  CONSTRAINT [CK_card_request_private_data_national_id] CHECK  ((len([national_id])=(14)))
GO
ALTER TABLE [dbo].[card_request_private_data] CHECK CONSTRAINT [CK_card_request_private_data_national_id]
GO
ALTER TABLE [dbo].[card_request_private_data]  WITH CHECK ADD  CONSTRAINT [CK_card_request_private_data_phone] CHECK  ((len([phone])=(11) AND [phone] like '01%'))
GO
ALTER TABLE [dbo].[card_request_private_data] CHECK CONSTRAINT [CK_card_request_private_data_phone]
GO
ALTER TABLE [dbo].[code_sarf_region_rules]  WITH CHECK ADD  CONSTRAINT [CK_code_sarf_region_rules_range] CHECK  (([code_from]<=[code_to]))
GO
ALTER TABLE [dbo].[code_sarf_region_rules] CHECK CONSTRAINT [CK_code_sarf_region_rules_range]
GO
ALTER TABLE [dbo].[code_sarf_sync_state]  WITH CHECK ADD  CONSTRAINT [CK_code_sarf_sync_state_single] CHECK  (([id]=(1)))
GO
ALTER TABLE [dbo].[code_sarf_sync_state] CHECK CONSTRAINT [CK_code_sarf_sync_state_single]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD CHECK  (([status]='resigned' OR [status]='suspended' OR [status]='active'))
GO
ALTER TABLE [dbo].[payroll_records]  WITH CHECK ADD CHECK  (([month]>=(1) AND [month]<=(12)))
GO
ALTER TABLE [dbo].[service_ratings]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[thread_messages]  WITH CHECK ADD  CONSTRAINT [CK_sender_role] CHECK  (([sender_role]='admin' OR [sender_role]='employee'))
GO
ALTER TABLE [dbo].[thread_messages] CHECK CONSTRAINT [CK_sender_role]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='super_admin' OR [role]='hr_admin' OR [role]='employee'))
GO
/****** Object:  StoredProcedure [dbo].[sp_CardBankResponse]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CardBankResponse]
    @RequestID        INT,
    @ActorUserID      INT,
    @ResponseStatus   VARCHAR(20),       -- ACCEPTED / REJECTED
    @RejectionReason  NVARCHAR(1000) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE
        @CurrentStatus   VARCHAR(50),
        @ServiceCode     VARCHAR(50),
        @RequiresCard    BIT,

        @ActorName       NVARCHAR(200),
        @MainRole        NVARCHAR(20),
        @IsActive        BIT,

        @ActionCode      VARCHAR(50),
        @ActionName      NVARCHAR(150);

    BEGIN TRY

        BEGIN TRANSACTION;


        /* =========================================
           1) قراءة الطلب وقفل الصف
           ========================================= */

        SELECT
            @CurrentStatus = cr.status,
            @ServiceCode   = st.service_code,
            @RequiresCard  = st.requires_card
        FROM dbo.card_requests AS cr WITH (UPDLOCK, HOLDLOCK)
        INNER JOIN dbo.card_service_types AS st
            ON st.id = cr.service_type_id
        WHERE cr.id = @RequestID;

        IF @CurrentStatus IS NULL
            THROW 50301, N'الطلب غير موجود.', 1;


        /* =========================================
           2) رد البنك خاص بخدمة SMS فقط
           ========================================= */

        IF @ServiceCode <> 'SMS'
           OR ISNULL(@RequiresCard, 1) <> 0
        BEGIN
            THROW 50302,
                  N'رد البنك بهذا الإجراء متاح لخدمة رسائل السحب والإيداع فقط.',
                  1;
        END;


        /* =========================================
           3) يجب أن يكون الطلب منتظر رد البنك
           ========================================= */

        IF @CurrentStatus <> 'WAITING_BANK_RESPONSE'
        BEGIN
            THROW 50303,
                  N'لا يمكن تسجيل رد البنك لأن الطلب ليس في حالة انتظار رد البنك.',
                  1;
        END;


        /* =========================================
           4) منع تسجيل رد مرتين
           ========================================= */

        IF EXISTS
        (
            SELECT 1
            FROM dbo.card_bank_responses
            WHERE request_id = @RequestID
        )
        BEGIN
            THROW 50304,
                  N'تم تسجيل رد البنك لهذا الطلب من قبل.',
                  1;
        END;


        /* =========================================
           5) المستخدم المنفذ
           ========================================= */

        SELECT
            @ActorName = e.full_name,
            @MainRole  = u.role,
            @IsActive  = u.is_active
        FROM dbo.users AS u
        INNER JOIN dbo.employees AS e
            ON e.id = u.employee_id
        WHERE u.id = @ActorUserID;

        IF @ActorName IS NULL
            THROW 50305, N'المستخدم المنفذ غير موجود.', 1;

        IF ISNULL(@IsActive, 0) = 0
            THROW 50306, N'حساب المستخدم المنفذ غير نشط.', 1;


        /* =========================================
           6) EXECUTIVE أو hr_admin فقط
           ========================================= */

        IF @MainRole <> N'hr_admin'
           AND NOT EXISTS
           (
               SELECT 1
               FROM dbo.card_user_roles AS cur
               INNER JOIN dbo.card_roles AS r
                   ON r.role_code = cur.role_code
               WHERE cur.user_id = @ActorUserID
                 AND cur.role_code = 'EXECUTIVE'
                 AND r.is_active = 1
           )
        BEGIN
            THROW 50307,
                  N'ليس لديك صلاحية تسجيل رد البنك.',
                  1;
        END;


        /* =========================================
           7) التحقق من الرد
           ========================================= */

        SET @ResponseStatus =
            UPPER(LTRIM(RTRIM(@ResponseStatus)));

        IF @ResponseStatus NOT IN ('ACCEPTED', 'REJECTED')
        BEGIN
            THROW 50308,
                  N'رد البنك يجب أن يكون ACCEPTED أو REJECTED.',
                  1;
        END;


        /* سبب الرفض إلزامي */
        IF @ResponseStatus = 'REJECTED'
           AND NULLIF(LTRIM(RTRIM(@RejectionReason)), '') IS NULL
        BEGIN
            THROW 50309,
                  N'يجب تسجيل سبب رفض البنك.',
                  1;
        END;


        /* عند القبول لا نخزن سبب رفض */
        IF @ResponseStatus = 'ACCEPTED'
        BEGIN
            SET @RejectionReason = NULL;
        END;


        /* =========================================
           8) تحديد بيانات الـTimeline
           ========================================= */

        IF @ResponseStatus = 'ACCEPTED'
        BEGIN
            SET @ActionCode = 'BANK_ACCEPTED';
            SET @ActionName = N'قبول الطلب من البنك';
        END
        ELSE
        BEGIN
            SET @ActionCode = 'BANK_REJECTED';
            SET @ActionName = N'رفض الطلب من البنك';
        END;


        /* =========================================
           9) تسجيل رد البنك
           ========================================= */

        INSERT INTO dbo.card_bank_responses
        (
            request_id,
            response_status,
            rejection_reason,
            recorded_by_user_id,
            recorded_by_name,
            responded_at
        )
        VALUES
        (
            @RequestID,
            @ResponseStatus,
            @RejectionReason,
            @ActorUserID,
            @ActorName,
            SYSDATETIME()
        );


        /* =========================================
           10) إغلاق الطلب
           ========================================= */

        UPDATE dbo.card_requests
        SET
            status       = @ResponseStatus,
            updated_at   = SYSDATETIME(),
            completed_at = SYSDATETIME()
        WHERE id = @RequestID;


        /* =========================================
           11) Timeline
           ========================================= */

        INSERT INTO dbo.card_request_history
        (
            request_id,
            old_status,
            new_status,
            action_code,
            action_name,
            actor_user_id,
            actor_name,
            notes,
            created_at
        )
        VALUES
        (
            @RequestID,
            'WAITING_BANK_RESPONSE',
            @ResponseStatus,
            @ActionCode,
            @ActionName,
            @ActorUserID,
            @ActorName,

            CASE
                WHEN @ResponseStatus = 'REJECTED'
                    THEN N'سبب الرفض: ' + @RejectionReason
                ELSE N'تم قبول الطلب من البنك'
            END,

            SYSDATETIME()
        );


        COMMIT TRANSACTION;


        /* =========================================
           12) النتيجة
           ========================================= */

        SELECT
            cr.id AS Request_ID,
            cr.employee_code_snapshot AS Employee_Code,
            cr.employee_name_snapshot AS Employee_Name,
            cr.status AS Status,

            br.response_status AS Bank_Response,
            br.rejection_reason AS Rejection_Reason,

            br.recorded_by_user_id AS Recorded_By_User_ID,
            br.recorded_by_name AS Recorded_By_Name,
            br.responded_at AS Responded_At

        FROM dbo.card_requests AS cr
        INNER JOIN dbo.card_bank_responses AS br
            ON br.request_id = cr.id
        WHERE cr.id = @RequestID;


    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CardDeliver]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CardDeliver]
    @RequestID             INT,
    @ActorUserID           INT,
    @ReceiverType          VARCHAR(10),       -- SELF / OTHER
    @ReceiverEmployeeCode  NVARCHAR(20) = NULL,
    @Notes                 NVARCHAR(1000) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE
        @CurrentStatus        VARCHAR(50),
        @RequiresCard         BIT,
        @OwnerEmployeeID      INT,
        @OwnerEmployeeCode    NVARCHAR(20),
        @OwnerEmployeeName    NVARCHAR(200),

        @ReceiverEmployeeID   INT,
        @ReceiverCode         NVARCHAR(20),
        @ReceiverName         NVARCHAR(200),

        @ActorName            NVARCHAR(200),
        @MainRole             NVARCHAR(20),
        @IsActive             BIT,

        @ErrorMessage         NVARCHAR(2048);

    BEGIN TRY

        BEGIN TRANSACTION;


        /* =========================================
           1) قراءة الطلب وقفل الصف أثناء التنفيذ
           ========================================= */

        SELECT
            @CurrentStatus     = cr.status,
            @OwnerEmployeeID   = cr.employee_id,
            @OwnerEmployeeCode = cr.employee_code_snapshot,
            @OwnerEmployeeName = cr.employee_name_snapshot,
            @RequiresCard      = st.requires_card
        FROM dbo.card_requests AS cr WITH (UPDLOCK, HOLDLOCK)
        INNER JOIN dbo.card_service_types AS st
            ON st.id = cr.service_type_id
        WHERE cr.id = @RequestID;

        IF @CurrentStatus IS NULL
            THROW 50201, N'الطلب غير موجود.', 1;


        /* SMS لا يوجد بها كارت للتسليم */
        IF ISNULL(@RequiresCard, 0) = 0
            THROW 50202, N'هذه الخدمة لا تحتوي على كارت للتسليم.', 1;


        /* لا يمكن التسليم قبل استلام الكارت من البنك */
        IF @CurrentStatus <> 'RECEIVED_FROM_BANK'
            THROW 50203, N'لا يمكن تسليم الكارت قبل استلامه من البنك.', 1;


        /* منع التسجيل المكرر */
        IF EXISTS
        (
            SELECT 1
            FROM dbo.card_deliveries
            WHERE request_id = @RequestID
        )
            THROW 50204, N'تم تسجيل تسليم هذا الكارت من قبل.', 1;


        /* =========================================
           2) المستخدم الذي يسجل عملية التسليم
           ========================================= */

        SELECT
            @ActorName = e.full_name,
            @MainRole  = u.role,
            @IsActive  = u.is_active
        FROM dbo.users AS u
        INNER JOIN dbo.employees AS e
            ON e.id = u.employee_id
        WHERE u.id = @ActorUserID;

        IF @ActorName IS NULL
            THROW 50205, N'المستخدم المنفذ غير موجود.', 1;

        IF ISNULL(@IsActive, 0) = 0
            THROW 50206, N'حساب المستخدم المنفذ غير نشط.', 1;


        /* =========================================
           3) صلاحية DELIVERY
           hr_admin مسموح له أيضًا
           ========================================= */

        IF @MainRole <> N'hr_admin'
           AND NOT EXISTS
           (
               SELECT 1
               FROM dbo.card_user_roles AS cur
               INNER JOIN dbo.card_roles AS r
                   ON r.role_code = cur.role_code
               WHERE cur.user_id = @ActorUserID
                 AND cur.role_code = 'DELIVERY'
                 AND r.is_active = 1
           )
        BEGIN
            THROW 50207, N'ليس لديك صلاحية تسليم الكروت.', 1;
        END;


        /* =========================================
           4) تحديد المستلم
           ========================================= */

        SET @ReceiverType = UPPER(LTRIM(RTRIM(@ReceiverType)));

        IF @ReceiverType NOT IN ('SELF', 'OTHER')
            THROW 50208, N'نوع المستلم يجب أن يكون SELF أو OTHER.', 1;


        /* العامل صاحب الكارت يستلمه بنفسه */
        IF @ReceiverType = 'SELF'
        BEGIN

            SET @ReceiverEmployeeID = @OwnerEmployeeID;
            SET @ReceiverCode       = @OwnerEmployeeCode;
            SET @ReceiverName       = @OwnerEmployeeName;

        END;


        /* موظف آخر يستلم الكارت */
        IF @ReceiverType = 'OTHER'
        BEGIN

            IF NULLIF(LTRIM(RTRIM(@ReceiverEmployeeCode)), '') IS NULL
                THROW 50209, N'يجب تحديد كود الموظف المستلم.', 1;


            SELECT
                @ReceiverEmployeeID = e.id,
                @ReceiverCode       = e.employee_code,
                @ReceiverName       = e.full_name
            FROM dbo.employees AS e
            WHERE e.employee_code = @ReceiverEmployeeCode;


            IF @ReceiverEmployeeID IS NULL
                THROW 50210, N'الموظف المستلم غير موجود.', 1;


            /* لو اختار OTHER لكن أدخل صاحب الكارت نفسه */
            IF @ReceiverEmployeeID = @OwnerEmployeeID
                THROW 50211,
                      N'صاحب الكارت نفسه يجب تسجيله كمستلم SELF.',
                      1;

        END;


        /* =========================================
           5) تسجيل بيانات التسليم
           ========================================= */

        INSERT INTO dbo.card_deliveries
        (
            request_id,
            receiver_type,
            receiver_employee_id,
            receiver_employee_code,
            receiver_name,
            recorded_by_user_id,
            recorded_by_name,
            delivered_at,
            notes
        )
        VALUES
        (
            @RequestID,
            @ReceiverType,
            @ReceiverEmployeeID,
            @ReceiverCode,
            @ReceiverName,
            @ActorUserID,
            @ActorName,
            SYSDATETIME(),
            @Notes
        );


        /* =========================================
           6) تحويل الطلب إلى DELIVERED
           ========================================= */

        UPDATE dbo.card_requests
        SET
            status       = 'DELIVERED',
            updated_at   = SYSDATETIME(),
            completed_at = SYSDATETIME()
        WHERE id = @RequestID;


        /* =========================================
           7) Timeline
           ========================================= */

        INSERT INTO dbo.card_request_history
        (
            request_id,
            old_status,
            new_status,
            action_code,
            action_name,
            actor_user_id,
            actor_name,
            notes,
            created_at
        )
        VALUES
        (
            @RequestID,
            'RECEIVED_FROM_BANK',
            'DELIVERED',
            'DELIVER_CARD',
            N'تسليم الكارت',
            @ActorUserID,
            @ActorName,
            CASE
                WHEN @ReceiverType = 'SELF'
                    THEN N'تم تسليم الكارت إلى صاحب الكارت: '
                         + @ReceiverName

                ELSE N'تم تسليم الكارت إلى: '
                     + @ReceiverName
                     + N' - كود العامل: '
                     + @ReceiverCode
            END
            +
            CASE
                WHEN NULLIF(LTRIM(RTRIM(@Notes)), '') IS NOT NULL
                    THEN N' - ملاحظات: ' + @Notes
                ELSE N''
            END,
            SYSDATETIME()
        );


        COMMIT TRANSACTION;


        /* =========================================
           8) النتيجة
           ========================================= */

        SELECT
            cr.id AS Request_ID,
            cr.employee_code_snapshot AS Card_Owner_Code,
            cr.employee_name_snapshot AS Card_Owner_Name,
            cr.status AS Status,

            d.receiver_type AS Receiver_Type,
            d.receiver_employee_code AS Receiver_Code,
            d.receiver_name AS Receiver_Name,

            d.recorded_by_user_id AS Recorded_By_User_ID,
            d.recorded_by_name AS Recorded_By_Name,

            d.delivered_at AS Delivered_At

        FROM dbo.card_requests AS cr
        INNER JOIN dbo.card_deliveries AS d
            ON d.request_id = cr.id
        WHERE cr.id = @RequestID;


    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CardRequestTransition]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CardRequestTransition]
    @RequestID   INT,
    @ToStatus    VARCHAR(50),
    @ActorUserID INT,
    @Notes       NVARCHAR(1000) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @CurrentStatus VARCHAR(50);
    DECLARE @ServicePath VARCHAR(20);
    DECLARE @ActionCode VARCHAR(50);
    DECLARE @ActionName NVARCHAR(150);

    DECLARE @ActorName NVARCHAR(200);
    DECLARE @MainRole NVARCHAR(20);
    DECLARE @IsActive BIT;

    DECLARE @RequiredRole VARCHAR(30);
    DECLARE @HasPermission BIT;

    DECLARE @ErrorMessage NVARCHAR(2048);

    BEGIN TRY

        BEGIN TRANSACTION;

        /* ==========================================
           1) قراءة الطلب وتحديد المسار
           ========================================== */

        SELECT
            @CurrentStatus = cr.status,
            @ServicePath =
                CASE
                    WHEN st.requires_card = 1 THEN 'CARD'
                    ELSE 'SMS'
                END
        FROM dbo.card_requests AS cr WITH (UPDLOCK, HOLDLOCK)
        INNER JOIN dbo.card_service_types AS st
            ON st.id = cr.service_type_id
        WHERE cr.id = @RequestID;

        IF @CurrentStatus IS NULL
        BEGIN
            THROW 50001, N'الطلب غير موجود.', 1;
        END;


        /* ==========================================
           2) منع الحالات النهائية من الإجراء العام
           ========================================== */

        IF @ToStatus = 'DELIVERED'
        BEGIN
            THROW 50007,
                  N'تسليم الكارت يجب أن يتم من خلال إجراء التسليم المخصص.',
                  1;
        END;

        IF @ToStatus IN ('ACCEPTED', 'REJECTED')
        BEGIN
            THROW 50008,
                  N'رد البنك يجب أن يتم من خلال إجراء رد البنك المخصص.',
                  1;
        END;


        /* ==========================================
           3) بيانات المستخدم المنفذ
           ========================================== */

        SELECT
            @ActorName = e.full_name,
            @MainRole = u.role,
            @IsActive = u.is_active
        FROM dbo.users AS u
        INNER JOIN dbo.employees AS e
            ON e.id = u.employee_id
        WHERE u.id = @ActorUserID;

        IF @ActorName IS NULL
        BEGIN
            THROW 50002, N'المستخدم المنفذ غير موجود.', 1;
        END;

        IF ISNULL(@IsActive, 0) = 0
        BEGIN
            THROW 50003, N'حساب المستخدم المنفذ غير نشط.', 1;
        END;


        /* ==========================================
           4) التأكد أن الانتقال مسموح
           ========================================== */

        SELECT
            @ActionCode = t.action_code,
            @ActionName = t.action_name
        FROM dbo.card_status_transitions AS t
        WHERE t.service_path = @ServicePath
          AND t.from_status = @CurrentStatus
          AND t.to_status = @ToStatus
          AND t.is_active = 1;

        IF @ActionCode IS NULL
        BEGIN
            SET @ErrorMessage =
                N'لا يمكن نقل الطلب من الحالة '
                + ISNULL(@CurrentStatus, '')
                + N' إلى الحالة '
                + ISNULL(@ToStatus, '')
                + N'.';

            THROW 50004, @ErrorMessage, 1;
        END;


        /* ==========================================
           5) تحديد الصلاحية المطلوبة
           ========================================== */

        SET @RequiredRole =
            CASE @ActionCode

                WHEN 'REVIEW_ACTIVATE'
                    THEN 'REVIEWER'

                WHEN 'UPLOAD_TO_BANK'
                    THEN 'EXECUTIVE'

                WHEN 'WAIT_BANK_RESPONSE'
                    THEN 'EXECUTIVE'

                WHEN 'RECEIVE_FROM_BANK'
                    THEN 'BANK_RECEIVER'

                ELSE NULL
            END;

        IF @RequiredRole IS NULL
        BEGIN
            THROW 50005,
                  N'لم يتم تحديد صلاحية لهذه الحركة.',
                  1;
        END;


        /* ==========================================
           6) فحص الصلاحية
           ========================================== */

        SET @HasPermission = 0;

        IF @MainRole = N'hr_admin'
        BEGIN
            SET @HasPermission = 1;
        END
        ELSE IF EXISTS
        (
            SELECT 1
            FROM dbo.card_user_roles AS ur
            INNER JOIN dbo.card_roles AS r
                ON r.role_code = ur.role_code
            WHERE ur.user_id = @ActorUserID
              AND ur.role_code = @RequiredRole
              AND r.is_active = 1
        )
        BEGIN
            SET @HasPermission = 1;
        END;

        IF ISNULL(@HasPermission, 0) = 0
        BEGIN
            SET @ErrorMessage =
                N'ليس لديك صلاحية تنفيذ الإجراء: '
                + ISNULL(@ActionName, N'');

            THROW 50006, @ErrorMessage, 1;
        END;


        /* ==========================================
           7) تحديث الطلب
           ========================================== */

        UPDATE dbo.card_requests
        SET
            status = @ToStatus,
            updated_at = SYSDATETIME(),
            completed_at = NULL
        WHERE id = @RequestID;


        /* ==========================================
           8) Timeline
           ========================================== */

        INSERT INTO dbo.card_request_history
        (
            request_id,
            old_status,
            new_status,
            action_code,
            action_name,
            actor_user_id,
            actor_name,
            notes,
            created_at
        )
        VALUES
        (
            @RequestID,
            @CurrentStatus,
            @ToStatus,
            @ActionCode,
            @ActionName,
            @ActorUserID,
            @ActorName,
            @Notes,
            SYSDATETIME()
        );


        COMMIT TRANSACTION;


        SELECT
            cr.id AS Request_ID,
            @ServicePath AS Service_Path,
            @CurrentStatus AS Old_Status,
            cr.status AS New_Status,
            @ActionCode AS Action_Code,
            @ActionName AS Action_Name,
            @RequiredRole AS Required_Role,
            @ActorUserID AS Actor_User_ID,
            @ActorName AS Actor_Name,
            cr.updated_at AS Action_DateTime
        FROM dbo.card_requests AS cr
        WHERE cr.id = @RequestID;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateCardRequest]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateCardRequest]
    @UserID       INT,
    @ServiceCode  VARCHAR(50),
    @ReasonCode   VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE
        @EmployeeID        INT,
        @EmployeeCode      NVARCHAR(20),
        @EmployeeName      NVARCHAR(200),
        @BankCode          NVARCHAR(20),
        @CodeSarf          INT,
        @RegionName        NVARCHAR(100),

        @ServiceTypeID     INT,
        @ServiceName       NVARCHAR(150),
        @RequiresCard      BIT,

        @ReasonID          INT,
        @ReasonName        NVARCHAR(150),

        @RequestID         INT,
        @IsUserActive      BIT,

        @ErrorMessage      NVARCHAR(2048);

    BEGIN TRY

        /* =========================================
           1) التأكد من المستخدم والموظف
           ========================================= */

        SELECT
            @EmployeeID   = e.id,
            @EmployeeCode = e.employee_code,
            @EmployeeName = e.full_name,
            @BankCode     = e.bank_employee_code,
            @IsUserActive = u.is_active
        FROM dbo.users AS u
        INNER JOIN dbo.employees AS e
            ON e.id = u.employee_id
        WHERE u.id = @UserID;

        IF @EmployeeID IS NULL
        BEGIN
            THROW 50101, N'المستخدم أو الموظف غير موجود.', 1;
        END;

        IF ISNULL(@IsUserActive, 0) = 0
        BEGIN
            THROW 50102, N'حساب المستخدم غير نشط.', 1;
        END;


        /* =========================================
           2) CODE_SARF والمنطقة من النظام
           ========================================= */

        SELECT
            @CodeSarf   = v.code_sarf,
            @RegionName = v.region_name
        FROM dbo.vw_employee_code_sarf_region AS v
        WHERE v.employee_id = @EmployeeID;


        /* =========================================
           3) التأكد من الخدمة
           ========================================= */

        SELECT
            @ServiceTypeID = st.id,
            @ServiceName   = st.service_name,
            @RequiresCard  = st.requires_card
        FROM dbo.card_service_types AS st
        WHERE st.service_code = @ServiceCode
          AND st.is_active = 1;

        IF @ServiceTypeID IS NULL
        BEGIN
            THROW 50103, N'الخدمة المطلوبة غير موجودة أو غير مفعلة.', 1;
        END;


        /* =========================================
           4) السبب

           NEW_CARD / REPLACEMENT يجب أن يكون
           لهما سبب صحيح.

           SMS لا يحتاج سببًا.
           ========================================= */

        IF @ServiceCode IN ('NEW_CARD', 'REPLACEMENT')
        BEGIN

            IF NULLIF(LTRIM(RTRIM(@ReasonCode)), '') IS NULL
            BEGIN
                THROW 50104, N'يجب تحديد سبب الطلب.', 1;
            END;

            SELECT
                @ReasonID   = r.id,
                @ReasonName = r.reason_name
            FROM dbo.card_request_reasons AS r
            WHERE r.service_type_id = @ServiceTypeID
              AND r.reason_code = @ReasonCode
              AND r.is_active = 1;

            IF @ReasonID IS NULL
            BEGIN
                THROW 50105, N'سبب الطلب غير صحيح لهذه الخدمة.', 1;
            END;

        END
        ELSE
        BEGIN

            /* SMS لا نسمح بإرسال Reason خاص بخدمة أخرى */
            IF NULLIF(LTRIM(RTRIM(@ReasonCode)), '') IS NOT NULL
            BEGIN
                THROW 50106, N'هذه الخدمة لا تحتاج إلى سبب طلب.', 1;
            END;

            SET @ReasonID = NULL;
            SET @ReasonName = NULL;

        END;


        /* =========================================
           5) منع وجود طلب مفتوح مماثل

           نفس الموظف + نفس الخدمة
           طالما الطلب لم يصل لحالة نهائية.
           ========================================= */

        IF EXISTS
        (
            SELECT 1
            FROM dbo.card_requests AS cr
            WHERE cr.employee_id = @EmployeeID
              AND cr.service_type_id = @ServiceTypeID
              AND cr.status NOT IN
              (
                  'DELIVERED',
                  'ACCEPTED',
                  'REJECTED'
              )
        )
        BEGIN
            THROW 50107, N'يوجد بالفعل طلب مفتوح لنفس الخدمة.', 1;
        END;


        /* =========================================
           6) بدء العملية
           ========================================= */

        BEGIN TRANSACTION;


        /* =========================================
           7) إنشاء الطلب
           ========================================= */

        INSERT INTO dbo.card_requests
        (
            employee_id,
            service_type_id,
            reason_id,
            status,

            employee_code_snapshot,
            employee_name_snapshot,
            bank_code_snapshot,
            code_sarf_snapshot,
            region_snapshot,

            submitted_at,
            created_at,
            updated_at
        )
        VALUES
        (
            @EmployeeID,
            @ServiceTypeID,
            @ReasonID,
            'SUBMITTED',

            @EmployeeCode,
            @EmployeeName,
            @BankCode,
            @CodeSarf,
            @RegionName,

            SYSDATETIME(),
            SYSDATETIME(),
            SYSDATETIME()
        );

        SET @RequestID = SCOPE_IDENTITY();


        /* =========================================
           8) تسجيل SUBMITTED في Timeline
           ========================================= */

        INSERT INTO dbo.card_request_history
        (
            request_id,
            old_status,
            new_status,
            action_code,
            action_name,
            actor_user_id,
            actor_name,
            notes,
            created_at
        )
        VALUES
        (
            @RequestID,
            NULL,
            'SUBMITTED',
            'SUBMIT_REQUEST',
            N'تقديم الطلب',
            @UserID,
            @EmployeeName,
            NULL,
            SYSDATETIME()
        );


        COMMIT TRANSACTION;


        /* =========================================
           9) إرجاع الطلب للـFlask
           ========================================= */

        SELECT
            cr.id AS Request_ID,

            @ServiceCode AS Service_Code,
            @ServiceName AS Service_Name,

            @ReasonCode AS Reason_Code,
            @ReasonName AS Reason_Name,

            cr.status AS Status,

            cr.employee_code_snapshot AS Employee_Code,
            cr.employee_name_snapshot AS Employee_Name,

            cr.bank_code_snapshot AS Bank_Code,
            cr.code_sarf_snapshot AS Code_Sarf,
            cr.region_snapshot AS Region_Name,

            cr.submitted_at AS Submitted_At

        FROM dbo.card_requests AS cr
        WHERE cr.id = @RequestID;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_OnboardTransferredEmployee]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_OnboardTransferredEmployee]
    @EmployeeCode NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EmployeeCodeBigInt BIGINT;
    DECLARE @DeptName NVARCHAR(200);
    DECLARE @DeptId INT;
    DECLARE @NewEmployeeId INT;

    -- تحويل كود الموظف إلى رقم
    SET @EmployeeCodeBigInt = TRY_CAST(@EmployeeCode AS BIGINT);

    -- التأكد من صحة الكود
    IF @EmployeeCodeBigInt IS NULL
    BEGIN
        PRINT N'كود الموظف غير صحيح';
        RETURN;
    END;


    -- ============================================================
    -- 1) التأكد أن الموظف غير موجود بالفعل في البوابة
    -- ============================================================

    IF EXISTS
    (
        SELECT 1
        FROM employees
        WHERE employee_code = @EmployeeCode
    )
    BEGIN
        PRINT N'الموظف موجود بالفعل في البوابة - لم يتم تنفيذ أي شيء';
        RETURN;
    END;


    -- ============================================================
    -- 2) التأكد أن الموظف موجود في النظام القديم
    -- ============================================================

    IF NOT EXISTS
    (
        SELECT 1
        FROM human_r_ash.dbo.emply_details_old
        WHERE emptid = @EmployeeCodeBigInt
    )
    BEGIN
        PRINT N'كود الموظف غير موجود في النظام القديم human_r_ash';
        RETURN;
    END;


    BEGIN TRY

        BEGIN TRANSACTION;


        -- ========================================================
        -- 3) الحصول على اسم القسم
        -- ========================================================

        SELECT
            @DeptName = NULLIF(LTRIM(RTRIM(Dept_Bhaira)), '')
        FROM human_r_ash.dbo.emply_details_old
        WHERE emptid = @EmployeeCodeBigInt;


        -- ========================================================
        -- 4) البحث عن القسم أو إنشاء قسم جديد
        -- ========================================================

        IF @DeptName IS NOT NULL
        BEGIN

            SELECT
                @DeptId = id
            FROM departments
            WHERE name = @DeptName;


            IF @DeptId IS NULL
            BEGIN

                INSERT INTO departments (name)
                VALUES (@DeptName);

                SET @DeptId = CONVERT(INT, SCOPE_IDENTITY());

            END

        END;


        -- ========================================================
        -- 5) إضافة الموظف
        -- ========================================================

        INSERT INTO employees
        (
            employee_code,
            full_name,
            national_id,
            phone,
            hire_date,
            job_title,
            status,
            department_id
        )
        SELECT
            CAST(src.emptid AS NVARCHAR(20)),

            COALESCE(
                NULLIF(LTRIM(RTRIM(src.empname)), ''),
                NULLIF(LTRIM(RTRIM(src.Arabic_Full_name)), ''),
                N'بدون اسم'
            ),

            NULLIF(LTRIM(RTRIM(src.qwmee_no)), '0'),

            NULLIF(LTRIM(RTRIM(src.Mobile1)), ''),

            src.date_taain,

            NULLIF(LTRIM(RTRIM(src.jobname)), ''),

            CASE
                WHEN src.stut = 1 THEN 'active'
                ELSE 'suspended'
            END,

            @DeptId

        FROM human_r_ash.dbo.emply_details_old src

        WHERE src.emptid = @EmployeeCodeBigInt;


        -- ID الموظف الجديد
        SET @NewEmployeeId = CONVERT(INT, SCOPE_IDENTITY());


        -- ========================================================
        -- 6) إنشاء حساب المستخدم
        -- ========================================================

        INSERT INTO users
        (
            employee_id,
            password_hash,
            role,
            must_change_password
        )
        VALUES
        (
            @NewEmployeeId,

            '$2b$12$6Di2OKRCbfaT3RnWtf7lzer./BCO3sSQKQea3Abm/Sr1djoiCGvme',

            'employee',

            1
        );


        -- ========================================================
        -- 7) نقل المرتبات من payroll_annual_ALL
        -- ========================================================

        INSERT INTO payroll_items
        (
            employee_id,
            month,
            year,
            band_code,
            band_name,
            band_type,
            amount,
            sarfia_no
        )
        SELECT
            @NewEmployeeId,
            p.MONTH_P,
            p.YEAR_P,
            p.band_code,
            bc.band_name,

            CASE
                WHEN bc.band_calc = 1 THEN 'earning'
                ELSE 'deduction'
            END,

            p.BAND_VALUE,
            p.sarfia_no

        FROM human_r_ash.dbo.payroll_annual_ALL p

        LEFT JOIN human_r_ash.dbo.payroll_BAND_Codes bc
            ON bc.BAND_CODE = p.band_code

        WHERE p.emp_no = @EmployeeCodeBigInt
          AND p.BAND_VALUE IS NOT NULL
          AND p.BAND_VALUE <> 0;


        -- ========================================================
        -- 8) نقل الأرشيف من payroll_annual_ALL_ALL
        -- ========================================================

        INSERT INTO payroll_items
        (
            employee_id,
            month,
            year,
            band_code,
            band_name,
            band_type,
            amount,
            sarfia_no
        )
        SELECT
            @NewEmployeeId,
            p.MONTH_P,
            p.YEAR_P,
            p.band_code,
            bc.band_name,

            CASE
                WHEN bc.band_calc = 1 THEN 'earning'
                ELSE 'deduction'
            END,

            p.BAND_VALUE,
            p.sarfia_no

        FROM payroll_annual_ALL_ALL.dbo.payroll_annual_ALL_ALL p

        LEFT JOIN human_r_ash.dbo.payroll_BAND_Codes bc
            ON bc.BAND_CODE = p.band_code

        WHERE p.emp_no = @EmployeeCodeBigInt
          AND p.BAND_VALUE IS NOT NULL
          AND p.BAND_VALUE <> 0;


        -- ========================================================
        -- 9) اعتماد العملية بالكامل
        -- ========================================================

        COMMIT TRANSACTION;


        PRINT N'تم نقل الموظف بنجاح';
        PRINT N'كود الموظف: ' + @EmployeeCode;
        PRINT N'كلمة المرور الافتراضية: Welcome123';


    END TRY

    BEGIN CATCH

        -- في حالة حدوث خطأ يتم التراجع عن كل العملية
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        PRINT N'حدث خطأ أثناء نقل الموظف';
        PRINT N'كود الموظف: ' + @EmployeeCode;
        PRINT N'رسالة الخطأ: ' + ERROR_MESSAGE();

    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SyncEmployeeCodeSarf]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_SyncEmployeeCodeSarf]
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE
        @ChangeCount INT = 0,
        @HistoryInserted INT = 0,
        @EmployeesUpdated INT = 0;

    BEGIN TRY

        BEGIN TRANSACTION;

        IF OBJECT_ID('tempdb..#SarfChanges') IS NOT NULL
            DROP TABLE #SarfChanges;

        /* =============================================
           اكتشاف أكواد الصرف التي تغيرت
           ============================================= */

        SELECT
            e.id AS employee_id,
            e.employee_code,
            e.full_name,
            TRY_CONVERT(INT, e.code_sarf) AS old_code_sarf,
            h.CODE_SARF AS new_code_sarf
        INTO #SarfChanges
        FROM dbo.employees e
        INNER JOIN human_r_ash.dbo.emply_details_old h
            ON TRY_CONVERT(BIGINT, e.employee_code) = h.emptid
        WHERE
            h.CODE_SARF IS NOT NULL
            AND ISNULL(TRY_CONVERT(INT, e.code_sarf), -1)
                <> ISNULL(h.CODE_SARF, -1);


        SELECT @ChangeCount = COUNT(*)
        FROM #SarfChanges;


        /* =============================================
           لو مفيش تغييرات ننهي بدون إضافة History
           ============================================= */

        IF @ChangeCount = 0
        BEGIN
            COMMIT TRANSACTION;

            SELECT
                0 AS Detected_Changes,
                0 AS History_Rows_Inserted,
                0 AS Employees_Updated,
                N'لا توجد تغييرات جديدة في أكواد الصرف' AS Result_Message;

            RETURN;
        END;


        /* =============================================
           تسجيل الحركة قبل تحديث الموظفين
           ============================================= */

        INSERT INTO dbo.employee_code_sarf_history
        (
            employee_id,
            old_code_sarf,
            new_code_sarf,
            effective_date,
            detected_at
        )
        SELECT
            employee_id,
            old_code_sarf,
            new_code_sarf,
            CAST(GETDATE() AS DATE),
            SYSDATETIME()
        FROM #SarfChanges;

        SET @HistoryInserted = @@ROWCOUNT;


        /* =============================================
           تحديث كود الصرف الحالي
           ============================================= */

        UPDATE e
        SET
            e.code_sarf = CONVERT(NVARCHAR(20), c.new_code_sarf),
            e.updated_at = SYSDATETIME()
        FROM dbo.employees e
        INNER JOIN #SarfChanges c
            ON e.id = c.employee_id;

        SET @EmployeesUpdated = @@ROWCOUNT;


        /* =============================================
           حماية: لازم الأعداد الثلاثة تكون متساوية
           ============================================= */

        IF @HistoryInserted <> @ChangeCount
           OR @EmployeesUpdated <> @ChangeCount
        BEGIN
            THROW 50001,
                  N'حدث اختلاف بين عدد الحركات وعدد الموظفين الذين تم تحديثهم.',
                  1;
        END;


        COMMIT TRANSACTION;


        /* =============================================
           ملخص العملية
           ============================================= */

        SELECT
            @ChangeCount AS Detected_Changes,
            @HistoryInserted AS History_Rows_Inserted,
            @EmployeesUpdated AS Employees_Updated,
            N'تمت مزامنة أكواد الصرف بنجاح' AS Result_Message;


        /* =============================================
           عرض الموظفين الذين تم تحديثهم
           ============================================= */

        SELECT
            employee_code,
            full_name,
            old_code_sarf,
            new_code_sarf
        FROM #SarfChanges
        ORDER BY TRY_CONVERT(BIGINT, employee_code);

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertPayrollDisbursement1]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------------
-- 2) الإجراء المخزّن (Stored Procedure) — ده اللي هيتنفذ كل شهر
--    بياخد الشهر والسنة، وبيعمل UPSERT من payroll_staging
--    لصرفية رقم 1 بس، من غير ما يلمس أي شهر/صرفية تانية
------------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_UpsertPayrollDisbursement1]
    @Month INT,
    @Year  INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @SarfiaNo INT = 1;

    -- 2.1) تحقق أمان: أي كود موظف في الـ staging مش موجود في employees
    IF EXISTS (
        SELECT 1
        FROM dbo.payroll_staging s
        LEFT JOIN employees e ON e.employee_code = s.employee_code
        WHERE e.id IS NULL
    )
    BEGIN
        SELECT DISTINCT s.employee_code AS unknown_employee_code
        FROM dbo.payroll_staging s
        LEFT JOIN employees e ON e.employee_code = s.employee_code
        WHERE e.id IS NULL;

        RAISERROR(N'فيه أكواد موظفين في الـ staging مش موجودة في جدول employees. أضفهم الأول ثم أعد التشغيل.', 16, 1);
        RETURN;
    END

    -- 2.2) الـ MERGE الفعلي
    MERGE payroll_items AS target
    USING (
        SELECT
            e.id AS employee_id,
            s.band_code,
            s.band_name,
            s.band_type,
            s.amount
        FROM dbo.payroll_staging s
        JOIN employees e ON e.employee_code = s.employee_code
    ) AS source
    ON  target.employee_id = source.employee_id
    AND target.month        = @Month
    AND target.year          = @Year
    AND target.sarfia_no      = @SarfiaNo
    AND ISNULL(target.band_code, -1) = ISNULL(source.band_code, -1)
    AND target.band_name             = source.band_name

    WHEN MATCHED THEN
        UPDATE SET
            target.amount    = source.amount,
            target.band_type = source.band_type

    WHEN NOT MATCHED BY TARGET THEN
        INSERT (employee_id, month, year, sarfia_no, band_code, band_name, band_type, amount)
        VALUES (source.employee_id, @Month, @Year, @SarfiaNo,
                source.band_code, source.band_name, source.band_type, source.amount);

    -- 2.3) تقرير تأكيدي بعد التنفيذ
    SELECT
        e.employee_code,
        e.full_name,
        pi.band_name,
        pi.band_type,
        pi.amount
    FROM payroll_items pi
    JOIN employees e ON e.id = pi.employee_id
    WHERE pi.month = @Month AND pi.year = @Year AND pi.sarfia_no = @SarfiaNo
    ORDER BY e.employee_code, pi.band_type DESC, pi.amount DESC;
END
GO
/****** Object:  Trigger [dbo].[trg_employees_updated_at]    Script Date: 17/09/2026 01:20:31 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- تريجر بسيط لتحديث updated_at تلقائيًا عند أي تعديل
CREATE TRIGGER [dbo].[trg_employees_updated_at]
ON [dbo].[employees]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE employees
    SET updated_at = GETDATE()
    WHERE id IN (SELECT id FROM inserted);
END;

GO
ALTER TABLE [dbo].[employees] ENABLE TRIGGER [trg_employees_updated_at]
GO
USE [master]
GO
